
.icon-credit-card:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */